USE [master]
GO
/****** Object:  Database [webthoitrang]    Script Date: 2026-01-02 5:09:29 PM ******/
CREATE DATABASE [webthoitrang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'webthoitrang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\webthoitrang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'webthoitrang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\webthoitrang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webthoitrang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webthoitrang]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 2026-01-02 5:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[idBill] [nvarchar](255) NOT NULL,
	[idUser] [nvarchar](255) NULL,
	[Shipping] [int] NOT NULL,
	[Total] [int] NOT NULL,
	[PTTT] [nvarchar](255) NOT NULL,
	[status] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[totalQty] [int] NOT NULL,
	[nameBook] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](255) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[idVoucher] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailBIll]    Script Date: 2026-01-02 5:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailBIll](
	[idDetailBill] [nvarchar](255) NOT NULL,
	[idProduct] [nvarchar](255) NOT NULL,
	[idBill] [nvarchar](255) NOT NULL,
	[qty] [int] NOT NULL,
	[intoMoney] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetailBill] ASC,
	[idBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 2026-01-02 5:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [nvarchar](255) NOT NULL,
	[idProduct] [nvarchar](255) NOT NULL,
	[createdAt] [datetime] NULL,
 CONSTRAINT [PK_Favorite] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageProduct]    Script Date: 2026-01-02 5:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageProduct](
	[idImage] [nvarchar](255) NOT NULL,
	[idProduct] [nvarchar](255) NOT NULL,
	[URLImage] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2026-01-02 5:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[idNews] [nvarchar](255) NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[authorName] [nvarchar](255) NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NULL,
	[coverImageUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[idNews] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsSection]    Script Date: 2026-01-02 5:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsSection](
	[idSection] [nvarchar](255) NOT NULL,
	[idNews] [nvarchar](255) NOT NULL,
	[heading] [nvarchar](500) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[sortOrder] [int] NOT NULL,
	[imageUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_NewsSection] PRIMARY KEY CLUSTERED 
(
	[idSection] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 2026-01-02 5:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[idPermission] [nvarchar](255) NOT NULL,
	[namePermission] [nvarchar](255) NOT NULL,
	[level] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPermission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2026-01-02 5:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[nameProduct] [nvarchar](255) NOT NULL,
	[idProduct] [nvarchar](255) NOT NULL,
	[sizeM] [int] NOT NULL,
	[sizeL] [int] NOT NULL,
	[sizeXL] [int] NOT NULL,
	[price] [float] NOT NULL,
	[description] [ntext] NULL,
	[idType] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Types]    Script Date: 2026-01-02 5:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[idType] [nvarchar](255) NOT NULL,
	[nameType] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2026-01-02 5:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[idUser] [nvarchar](255) NOT NULL,
	[idPermission] [nvarchar](255) NOT NULL,
	[fullName] [nvarchar](max) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[gender] [bit] NOT NULL,
	[identityCard] [int] NOT NULL,
	[address] [ntext] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[URLAvatar] [text] NULL,
	[phone] [int] NOT NULL,
 CONSTRAINT [PK__User__3717C982FE6555FC] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 2026-01-02 5:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[idVoucher] [nvarchar](255) NOT NULL,
	[percent] [nvarchar](50) NOT NULL,
	[dateStart] [datetime] NOT NULL,
	[dateEnd] [datetime] NOT NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[idVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bill] ([idBill], [idUser], [Shipping], [Total], [PTTT], [status], [createdAt], [totalQty], [nameBook], [email], [phone], [address], [idVoucher]) VALUES (N'DH1653146500192', N'U1', 50, 2490, N'Tien Mat', 1, CAST(N'2022-05-21T22:21:40.250' AS DateTime), 8, N'Nguyễn Phương Trang', N'nguyenduykhanghuflit@gmail.com', N'948999333', N'Tân Lập, Xã Tân Lập, Huyện Mộc Hóa, Tỉnh Long An', NULL)
INSERT [dbo].[Bill] ([idBill], [idUser], [Shipping], [Total], [PTTT], [status], [createdAt], [totalQty], [nameBook], [email], [phone], [address], [idVoucher]) VALUES (N'DH1653249577204', N'U1', 50, 560, N'Tien Mat', 1, CAST(N'2022-05-23T02:59:37.247' AS DateTime), 2, N'Phạm Ngọc Phú', N'ngocphu@gmail.com', N'389800333', N'Trần Thiện Chánh, Phường 12, Quận 10, Thành phố Hồ Chí Minh', NULL)
INSERT [dbo].[Bill] ([idBill], [idUser], [Shipping], [Total], [PTTT], [status], [createdAt], [totalQty], [nameBook], [email], [phone], [address], [idVoucher]) VALUES (N'DH1653249716727', N'U1', 50, 800, N'Tien Mat', 1, CAST(N'2022-05-23T03:01:56.747' AS DateTime), 3, N'Vũ Phương An', N'anan@gmail.com', N'855192192', N'Sư Vạn Hạnh, Phường 13, Quận 10, Thành phố Hồ Chí Minh', NULL)
GO
INSERT [dbo].[DetailBIll] ([idDetailBill], [idProduct], [idBill], [qty], [intoMoney]) VALUES (N'0d1422de-4bb9-46f9-9ea9-e120207f8f37', N'P61', N'DH1653252076956', 1, 250)
INSERT [dbo].[DetailBIll] ([idDetailBill], [idProduct], [idBill], [qty], [intoMoney]) VALUES (N'16377c2b-0e3e-473d-b5d7-dbc70a04c62d', N'P81', N'DH1653252076956', 3, 1260)
INSERT [dbo].[DetailBIll] ([idDetailBill], [idProduct], [idBill], [qty], [intoMoney]) VALUES (N'1885ec04-44c9-4eb1-8ac7-d0a7a30fcfb7', N'P61', N'DH1653249716727', 2, 500)
GO
SET IDENTITY_INSERT [dbo].[Favorite] ON 

INSERT [dbo].[Favorite] ([id], [idUser], [idProduct], [createdAt]) VALUES (4, N'U11', N'P21', CAST(N'2026-01-02T15:37:20.113' AS DateTime))
INSERT [dbo].[Favorite] ([id], [idUser], [idProduct], [createdAt]) VALUES (5, N'U11', N'P100', CAST(N'2026-01-02T15:42:50.740' AS DateTime))
SET IDENTITY_INSERT [dbo].[Favorite] OFF
GO
INSERT [dbo].[ImageProduct] ([idImage], [idProduct], [URLImage]) VALUES (N'01916d41-6b62-49f9-9deb-c77894b7be22', N'P66', N'/images/01916d41-6b62-49f9-9deb-c77894b7be22.jpg')
INSERT [dbo].[ImageProduct] ([idImage], [idProduct], [URLImage]) VALUES (N'040084ce-57dc-4f32-a07d-666b324756d2', N'P112', N'/images/040084ce-57dc-4f32-a07d-666b324756d2.jpg')
INSERT [dbo].[ImageProduct] ([idImage], [idProduct], [URLImage]) VALUES (N'04c2dd5d-9107-4c32-aaf1-09122c12ffe4', N'P104', N'/images/04c2dd5d-9107-4c32-aaf1-09122c12ffe4.jpg')
GO
INSERT [dbo].[News] ([idNews], [title], [authorName], [createdAt], [updatedAt], [coverImageUrl]) VALUES (N'bdac7ff0-81c7-4d79-bbc7-51331bf59760', N'Velosar ra mắt áo khoác đáp ứng nhiều điều kiện thời tiết', N'Đức Khoa', CAST(N'2026-01-02T16:40:35.257' AS DateTime), CAST(N'2026-01-02T16:50:55.210' AS DateTime), N'/images/news/4a9fb644a38d42ae9a3e77751d5c0a78.jpeg')
INSERT [dbo].[News] ([idNews], [title], [authorName], [createdAt], [updatedAt], [coverImageUrl]) VALUES (N'fec2270b-5634-48d8-ab72-a859564c17cd', N'Sao Việt phối đồ với bộ sưu tập túi mới của Rimowa', N'Đức Khoa', CAST(N'2026-01-02T17:03:42.947' AS DateTime), NULL, N'/images/news/2422ed9539ca4f529e5d8f2a9d30d43f.jpeg')
GO
INSERT [dbo].[Permission] ([idPermission], [namePermission], [level]) VALUES (N'R01', N'Admin', 1)
INSERT [dbo].[Permission] ([idPermission], [namePermission], [level]) VALUES (N'R02', N'User', 2)
GO
INSERT [dbo].[Product] ([nameProduct], [idProduct], [sizeM], [sizeL], [sizeXL], [price], [description], [idType]) VALUES (N'Áo ngắn 1', N'db9475a4-6f88-48b3-b67c-13f0b7833557', 10, 10, 5, 200, N'Chưa cập nhật', N'T02')
INSERT [dbo].[Product] ([nameProduct], [idProduct], [sizeM], [sizeL], [sizeXL], [price], [description], [idType]) VALUES (N'Quần dài 13', N'P0', 5, 5, 10, 255, N'Chưa cập nhật', N'T06')
INSERT [dbo].[Product] ([nameProduct], [idProduct], [sizeM], [sizeL], [sizeXL], [price], [description], [idType]) VALUES (N'#1 HD Des Short In DarkBlue19', N'P100', 5, 15, 10, 250, N'Chưa cập nhật', N'T07')
GO
INSERT [dbo].[Types] ([idType], [nameType]) VALUES (N'T01', N'Áo')
INSERT [dbo].[Types] ([idType], [nameType]) VALUES (N'T02', N'Áo thun - sơ mi ')
INSERT [dbo].[Types] ([idType], [nameType]) VALUES (N'T03', N'Áo dài')
GO
INSERT [dbo].[User] ([idUser], [idPermission], [fullName], [username], [password], [gender], [identityCard], [address], [email], [URLAvatar], [phone]) VALUES (N'U1', N'R01', N'Nguyễn Duy Khang', N'admin', N'123456', 1, 12346, N'HCM', N'admin@gmaill.com', N'chua c?p nh?t', 3555555)
INSERT [dbo].[User] ([idUser], [idPermission], [fullName], [username], [password], [gender], [identityCard], [address], [email], [URLAvatar], [phone]) VALUES (N'U10', N'R02', N'Vieen Bichs', N'vienvien', N'123456', 0, 1234567899, N'hcm', N'vien@gmail.com', N'chua c?p nh?t', 123123123)
INSERT [dbo].[User] ([idUser], [idPermission], [fullName], [username], [password], [gender], [identityCard], [address], [email], [URLAvatar], [phone]) VALUES (N'U11', N'R02', N'Khang Khang', N'khangkhang', N'123456', 0, 1234567899, N'BT', N'bt@gmail.com', NULL, 1234567899)
GO
INSERT [dbo].[Voucher] ([idVoucher], [percent], [dateStart], [dateEnd]) VALUES (N'SALE10', N'10', CAST(N'2026-01-02T00:00:00.000' AS DateTime), CAST(N'2026-01-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Voucher] ([idVoucher], [percent], [dateStart], [dateEnd]) VALUES (N'SALE20', N'20', CAST(N'2026-01-02T00:00:00.000' AS DateTime), CAST(N'2026-01-09T00:00:00.000' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Favorite_User_Product]    Script Date: 2026-01-02 5:09:29 PM ******/
ALTER TABLE [dbo].[Favorite] ADD  CONSTRAINT [UQ_Favorite_User_Product] UNIQUE NONCLUSTERED 
(
	[idUser] ASC,
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NewsSection_News]    Script Date: 2026-01-02 5:09:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_NewsSection_News] ON [dbo].[NewsSection]
(
	[idNews] ASC,
	[sortOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (newid()) FOR [idBill]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (newid()) FOR [idUser]
GO
ALTER TABLE [dbo].[DetailBIll] ADD  DEFAULT (newid()) FOR [idDetailBill]
GO
ALTER TABLE [dbo].[DetailBIll] ADD  DEFAULT (newid()) FOR [idProduct]
GO
ALTER TABLE [dbo].[Favorite] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[ImageProduct] ADD  DEFAULT (newid()) FOR [idImage]
GO
ALTER TABLE [dbo].[ImageProduct] ADD  DEFAULT (newid()) FOR [idProduct]
GO
ALTER TABLE [dbo].[News] ADD  CONSTRAINT [DF_News_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[NewsSection] ADD  CONSTRAINT [DF_NewsSection_sortOrder]  DEFAULT ((0)) FOR [sortOrder]
GO
ALTER TABLE [dbo].[Permission] ADD  DEFAULT (newid()) FOR [idPermission]
GO
ALTER TABLE [dbo].[Permission] ADD  DEFAULT ((1)) FOR [level]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (newid()) FOR [idProduct]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (newid()) FOR [idType]
GO
ALTER TABLE [dbo].[Types] ADD  DEFAULT (newid()) FOR [idType]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__idUser__3B75D760]  DEFAULT (newid()) FOR [idUser]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__idPermissi__3C69FB99]  DEFAULT (newid()) FOR [idPermission]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK__Bill__idUser__5070F446] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([idUser])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK__Bill__idUser__5070F446]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Voucher] FOREIGN KEY([idVoucher])
REFERENCES [dbo].[Voucher] ([idVoucher])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Voucher]
GO
ALTER TABLE [dbo].[DetailBIll]  WITH CHECK ADD FOREIGN KEY([idBill])
REFERENCES [dbo].[Bill] ([idBill])
GO
ALTER TABLE [dbo].[DetailBIll]  WITH CHECK ADD FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([idProduct])
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Product] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([idProduct])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Product]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_User] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([idUser])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_User]
GO
ALTER TABLE [dbo].[ImageProduct]  WITH CHECK ADD FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([idProduct])
GO
ALTER TABLE [dbo].[NewsSection]  WITH CHECK ADD  CONSTRAINT [FK_NewsSection_News] FOREIGN KEY([idNews])
REFERENCES [dbo].[News] ([idNews])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NewsSection] CHECK CONSTRAINT [FK_NewsSection_News]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([idType])
REFERENCES [dbo].[Types] ([idType])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK__User__idPermissi__59063A47] FOREIGN KEY([idPermission])
REFERENCES [dbo].[Permission] ([idPermission])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK__User__idPermissi__59063A47]
GO
USE [master]
GO
